h1{
    border: 2px solid gray;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    background-color: rgba(233, 110, 186, 0.959);
}
body{
    background-image: url(house.jpg);
}
div{
    border: 2px solid orange;
    width: 225px;
    transition: all 1s;
    background-color: orange;
    margin: 10px;
    display: inline-block;
}
div:hover{
    transform: scale(1.1);
    background-color:orangered;
}